POSTGRES_DB=laboratory_db
POSTGRES_USER=laboratory_user
POSTGRES_PASSWORD=change_me_strong_password
SECURITY_FIREBASE_PROPS_API_KEY=dev-placeholder
SECURITY_FIREBASE_PROPS_GOOGLE_CREDENTIALS=
DEV_AUTH_BOOTSTRAP_ENABLED=false
DEV_AUTH_BOOTSTRAP_ADMIN_EMAIL=admin@dev
DEV_AUTH_BOOTSTRAP_ADMIN_PASSWORD=Admin123!
DEV_AUTH_BOOTSTRAP_ADMIN_NAME=Admin
DEV_AUTH_BOOTSTRAP_ADMIN_PHONE=77000000000
